<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <form method="post" action="http://localhost:3000/posts"><!--jo bhi form ka content aayega woh as a post request /posts pe chala jaayega-->
        <input type="text" placeholder="enter username" name="username"><br><br>
        <textarea placeholder="write your content" name="content"></textarea><br>
        <button>Submit Post</button>
    </form>
</body>
</html>