<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show post in detail</title>
    <link rel="stylesheet" href="/style.css"> 
</head>
<body>
    <h2>Here is your post in detail</h2>
    <p>Post id : <%=post.id%></p>
    <div class="post">
        <h3 class="user">Post by : <%=post.username%></h5>
        <p>Post content : <%=post.content%></p>
    </div>
    <br>
    <br>
</body>
</html>